In [30]:
import requests
from bs4 import BeautifulSoup
import re
import helper_funcs as hf

In [31]:
search_str = 'Julius_Caeser'
r = requests.get('https://en.wikipedia.org/wiki/' + search_str)
soup = BeautifulSoup(r.content, 'html.parser')
bs_table = soup.find_all('table')
born_data = died_data = []

In [32]:
for table in bs_table:
    for item in table.find_all('tr'):
        if item.th:
            if item.th.string == 'Born' or item.th.string == 'Baptised':
                born_data = [*item.td.strings]
            if item.th.string == 'Died':
                died_data = [*item.td.strings]

In [33]:
def remove_non_ascii(text):
    return re.sub(r'[^\x00-\x7F]', ' ', text)

In [34]:
born_data = [remove_non_ascii(item) for item in born_data]
died_data = [remove_non_ascii(item) for item in died_data]

born = hf.scrape_data()
born.start_end = 'start'
died = hf.scrape_data()
died.start_end = 'end'

In [35]:
print('born->', born_data, '\ndied->', died_data)

born-> ['12 July 100 BC', '[1]', 'Suburra', ', ', 'Ancient Rome']
died-> ['15 March', ' 44 BC (aged 55)', 'Theatre of Pompey', ', Ancient Rome']

In [36]:
born.reset_scrape_data()
for item in born_data:
    hf.dmy_re(item, born)
    hf.dm_re(item, born)
    hf.y_re(item, born)
    
died.reset_scrape_data()
for item in died_data:
    hf.dmy_re(item, died)
    hf.dm_re(item, died)
    hf.y_re(item, died)

In [37]:
print(born.start_year, born.start_adbc)
print(born.start_month)
print(born.start_day)
print()
print()
print(died.end_year, died.end_adbc)
print(died.end_month)
print(died.end_day)

100 BC
July
12


44 BC
March
15